@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap');

:root {
    --font-default: 'Shantell Sans', cursive;
    --primary-color: #F1DDBF;
    --background-color: #525E75;
}

body {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 1em;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 2em;
}

.box {
    border: 5px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: .5em;
    margin: .5em;
}

.btn-jogar{
    padding: .5em 1em;
    border: 0;
    background: var(--primary-color);
    border-radius:  5px;
    margin-top: 2em;
}